/*首頁*/
.indBg
	background: $main-color url(../images/ingele02.svg) no-repeat
	background-position-x: center 
	background-position-y: -25% 
	background-attachment: fixed

/*banner動畫區*/
// .indBanner-bg
// 	width: 100%
// 	height: 50px
// 	position: absolute
// 	bottom: 0
// 	left: 0
// 	background: #FFF
// 	@include ipad
// 		height: 100px

.indBanner
	// background-position-x: center 
	// background-position-y: -25% 
	// background-attachment: fixed
	background: $main-color 
	padding-top: 50px
	// width: 375px
	margin: 0 auto
	min-height: 100vh
	position: relative
	z-index: 2
	overflow: hidden
	line-height: 0
	@include ipad
		padding-top: 90px
	@include maxcom
		padding-top: 100px
		height: calc( 100vh + 120px )
		// height: auto
		// overflow-x: hidden
		// overflow-y: auto
.indBanner-titBk
	width: 100%
	margin: 0 auto
	text-align: center
	@include ipad
	@include maxcom
		width: 400px
		margin-right: 5%
		margin-top: 120px
		float: right
	@include maxcom-1920
		width: 620px
		margin-right: 220px
		margin-top: 60px
.indBanner-titBk--entit
	width: 190px
	margin-top: 25px
	@include ipad
		width: 280px
	@include maxcom
		width: 300px
	@include maxcom-1920
		width: 425px
.indBanner-titBk--chtit
	width: 275px
	position: relative
	top: -5px
	opacity: 0
	@include ipad
		width: 415px
		top: 0px
	@include maxcom
		// width: 275px
		width: 100%
		top: -5px
	@include maxcom-1920
		top: -12px
	

.indBanner-mainBk
	width: 100%
	margin: 0 auto
	text-align: center
.indBanner-main
	width: 325px
	position: relative
	z-index: 10
	top: -10px
	left: -10px
	opacity: 0
	@include ipad
		width: 506px
	@include maxcom
		width: 700px
		margin-left: 5%
		top: 10px
		float: left
	@include maxcom-1920
		width: 775px
		margin-left: 200px
		top: 0px

.indBanner-bg01
	position: absolute
	z-index: 9
	width: 140%
	top: 535px
	left: -5%
	@include ipad
		width: 112%
		top: 800px
		left: -5%
	@include maxcom
		width: 70%
		top: 670px
		left: 0
	@include maxcom-1920
		top: 680px
		left: -3%
.indBanner-bg02
	position: absolute
	z-index: 11
	width: 175%
	top: 545px
	left: -12%
	@include ipad
		width: 120%
		top: 820px
		left: 0%
	@include maxcom
		// opacity: 0
		width: 100%
		top: 650px
		left: 0px
	@include maxcom-1920
		top: 680px
.indBanner-bg03
	position: absolute
	z-index: 12
	width: 1000px
	// height: 300px
	top: 630px
	left: 0%
	@include ipad
		display: none
		// width: 100%
		// left: 0
		// top: 800px
	@include maxcom
		display: block
		width: 180%
		top: 720px
		left: -70%
	@include maxcom-1920
		// opacity: 0
		top: 780px
		left: -60%

	
.indBanner-girl
	position: absolute
	z-index: 13
	width: 48px
	top: 545px
	right: 25px
	@include ipad
		width: 85px
		top: auto
		bottom: 35px
		right: 140px
	@include maxcom
		width: 105px
		right: 630px
		top: 680px
	@include maxcom-1920
		right: 920px
		top: 730px
.indBanner-machine
	position: absolute
	z-index: 13
	width: 70px
	top: 295px
	right: 25px
	@include ipad
		width: 110px
		top: 450px
		right: 100px
	@include maxcom
		width: 160px
		right: 480px
		top: 170px
	@include maxcom-1920
		right: 970px
		top: 120px
.indBanner-robot
	opacity: 0
	display: none
	@include ipad
	@include maxcom
		display: block
		opacity: 1
		position: absolute
		z-index: 13
		width: 200px
		right: 220px
		top: 680px
	@include maxcom-1920
		width: 214px
		right: 350px
		top: 690px


/*影片連結輪播區*/
.indVideoLink
	width: 100%
	height: 470px
	background: #FFF
	position: relative
	z-index: 3
	overflow: hidden
	// margin-top: -50px
	@include maxcom
		height: 780px
	// margin-top: -10px
	// line-height: 0

.indVideoLink-bg
	position: absolute
	z-index: 2
	width: 100%
	height: 145px
	// bottom: 0
	overflow: hidden
	bottom: -10px
	@include maxcom
		bottom: -20px
		height: 396px
.indVideoLink-bg--img
	width: 4198px
	height: 145px
	background: url(../images/indele04.png) repeat-x
	background-size: auto 145px
	@include maxcom
		width: 11464px
		height: 396px
		background-size: auto 396px

//影片輪播祝賀
.indVideoLink-banner
	position: relative
	z-index: 1
	padding-top: 60px
	@include maxcom
		padding-top: 100px
		padding-left: 60px
		padding-right: 60px
	// padding-left: 10px
	// padding-right: 10px
	.owl-theme .owl-dots .owl-dot span
		// margin: 10px 7px !important
		// background: $line-gray !important
	.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span
		// background: $color-danger !important
	.owl-dots
		display: none
		.owl-dots
			padding: 0px
	.owl-nav
		position: absolute
		z-index: 1
		width: 100%
		top: 160px
		display: block
		@include ipad
		@include maxcom
			top: 240px
		.owl-prev
			position: absolute
			left: 10px
			width: 50px
			height: 65px
			content: " "
			background: url("../images/arrow-left.svg") no-repeat !important
			transition: all 0.3s ease-in
			@include maxcom
				left: -20px
			&:hover
			span
				display: none
		.owl-next
			position: absolute
			right: -10px
			width: 50px
			height: 65px
			content: " "
			background: url("../images/arrow-right.svg") no-repeat !important
			transition: all 0.3s ease-in
			@include maxcom
				right: 50px
			@include maxcom-1920
				right: 80px
			&:hover
			span
				display: none

.indVideoLink-banner--link
	width: auto
	height: auto
	display: block
	padding: 0px 40px 0px 50px
	color: $black
	margin: 0 auto 
	h6,h4,p
		width: 100%
	p
		font-size: $text-14
	h4
		font-size: $text-22
		margin-bottom: 5px
	h6
		font-size: $text-16
	@include ipad
		padding: 0px 30px 0px 60px
	@include maxcom
		display: flex
		flex-wrap: wrap
		align-content: center
		padding: 0px 40px 0px 60px
		p
			font-size: $text-16
		h4
			font-size: $text-26
		h6
			font-size: $text-18
	&:hover
		opacity: 0.6
.indVideoLink-banner--link--style01
	background: url(../images/indele01.svg) no-repeat
	background-position: center
	height: 305px
	display: flex	
	flex-wrap: wrap
	align-content: center
	@include ipad
		width: 550px
.indVideoLink-banner--link--style02
	background: url(../images/indele02.svg) no-repeat
	background-position: center
	height: 305px
	display: flex	
	flex-wrap: wrap
	align-content: center
	@include ipad
		width: 550px
	@include maxcom
		margin-top: 70px
.indVideoLink-banner--link--style03
	background: url(../images/indele01.svg) no-repeat
	background-position: center
	height: 305px
	display: flex	
	flex-wrap: wrap
	align-content: center
	@include ipad
		width: 550px
	@include maxcom
		background-size: 100%

//大事記區
.indMemoBk
	width: 100%
	min-height: 100vh
	background: #FFF
	position: relative
.indMemoBk--layer
	width: 100%
	height: 100%
	background: rgba(74,74,74,0.7)
	position: fixed
	opacity: 0
	top: 0
	z-index: -10
.indMemoBk--hand
	// width: 135px
	// height: 118px
	width: 68px
	height: 60px
	position: absolute
	z-index: 5
	top: calc(50vh - 30px)
	left: calc(50vw - 35px)
.indMemoBk--word
	width: 100%
	text-align: center
	position: absolute
	z-index: 5
	top: 58vh
	padding: 0 0 0 30px
	color: #FFF
.indMemoBg
	min-height: 100vh
	background: #FFF
.indMemo-titBk
	padding: 60px 20px
	@include maxcom
		padding: 60px 20px 0 20px
.indMemo-tit
	width: 270px
	height: 85px
	background: url("../images/indtitBg.svg") no-repeat
	background-cover: center 
	background-size: 270px auto 
	text-align: center
	margin: 0 auto
	padding: 8px 0 0 0
	h5
		line-height: 1.4

.indMemo-eleBk
	display: none
	@include maxcom
		display: block
		// position: absolute
.indMemo-eleBk--01
	position: absolute
	top: 6%
	left: 16%
	width: 150px
.indMemo-eleBk--02
	position: absolute
	top: 8%
	left: 65%
	width: 50px
.indMemo-eleBk--03
	position: absolute
	top: 5%
	left: 80%
	width: 110px

		
//隱藏橫向卷軸
.indMemo
	width: 100%
	height: 1360px
	position: relative
	overflow-x: scroll
	overflow-y: hidden
	overflow-scrolling: touch
	-webkit-overflow-scrolling: touch
	cursor: pointer
	scroll-behavior: smooth
	line-height: 0
	&::-webkit-scrollbar
		display: none

.indMemo.js-active
	cursor: grabbing
	cursor: -webkit-grabbing

.indMemo-bar
	width: auto
	height: 170px
	position: absolute
	z-index: 1
	// top: calc(50vh - 83px)
	top: 407px
	left: -70px
.indMemo-barTitBk
	position: absolute
	// top: calc(50vh - 72px)
	top: 418px
	left: 20px
	z-index: 2
	// @include maxcom
		// left: 20px
.indMemo-barTit
	font:
		size: $text-16
	color: $black
	line-height: 1.3

.indMemo-year
	top: 480px
	position: absolute
	z-index: 2

// .indMemo-lttc
// 	top: 559px
// 	position: absolute
// 	z-index: 2

.indMemo-tai
	width: 340px
	height: auto
	position: absolute
	z-index: 2
	&::after
		content: "　"
		width: 33px
		height: 33px
		display: block
		background: url("../images/green-arrow.svg") no-repeat
		background-size: 33px auto
		margin-top: 30px
.indMemo-lttc
	width: 340px
	height: auto
	top: 559px
	position: absolute
	z-index: 2
	&::before
		content: "　"
		width: 33px
		height: 33px
		display: block
		background: url("../images/yellow-arrow.svg") no-repeat
		background-size: 33px auto
		margin-bottom: 30px
.indMemo-content
	width: 100%
	line-height: 1.5
	font:
		size: $text-18
	// color: rgba(46,46,46,1)
	overflow: hidden
	margin-bottom: 15px
	img
		text-align: center
.indMemo-content--label
	float: left
	width: 20px
	display: block
	margin-right: 5px
	color: $black
.indMemo-content--text
	width: calc(100% - 25px)
	float: right
	color: rgba(46,46,46,1)
.indMemo-content--enText
	font:
		size: $text-16
	padding-top: 10px
	display: block
	color: rgba(46,46,46,1)
.indMemo-content--img
	width: 100%
	height: auto
	margin-bottom: 10px
.indMemo-content--moreBt
	display: block
	// overflow: hidden
	padding-top: 15px 
	font:
		size: $text-18
	color: #EF7D37


/*lightbox內容*/
.indLightbox-content--tit
	width: 100%
	height: 70px
	position: absolute
	top: 0
	left: 0
	padding: 0 20px
	line-height: 74px
	background: #FFF
	border-radius: 20px 20px 0 0

.indLightbox-content--text
	width: calc(100% - 40px)
	height: calc(100% - 110px)
	overflow-y: auto
	margin: 90px 20px 90px 20px 
	padding: 0 10px 0 0		
	&::-webkit-scrollbar
		width: 8px
		height: 10px
	&::-webkit-scrollbar-thumb
		background: rgba(0,0,0,0.4)
		border-radius: 4px
	&::-webkit-scrollbar-track
		background: none
	&::-webkit-scrollbar-thumb:hover 
		background: rgba(0,0,0,0.6)


.indMemo-year01,.indMemo-tai01,.indMemo-lttc01
	left: 320px
.indMemo-tai01
	top: 206px

.indMemo-year02,.indMemo-tai02,.indMemo-lttc02
	left: 800px

.indMemo-year03,.indMemo-tai03,.indMemo-lttc03
	left: 1280px

.indMemo-year04,.indMemo-tai04,.indMemo-lttc04
	left: 1760px
.indMemo-tai04
	top: 255px

.indMemo-year05,.indMemo-tai05,.indMemo-lttc05
	left: 2240px
// .indMemo-tai04
	// top: 255px

.indMemo-year06,.indMemo-tai06,.indMemo-lttc06
	left: 2720px
// .indMemo-tai04
	// top: 255px

.indMemo-year07,.indMemo-tai07,.indMemo-lttc07
	left: 3200px
.indMemo-tai07
	top: 279px


.indMemo-year08,.indMemo-tai08,.indMemo-lttc08
	left: 3680px
.indMemo-tai08
	top: 230px

.indMemo-year09,.indMemo-tai09,.indMemo-lttc09
	left: 4160px
// .indMemo-tai08
// 	top: 230px

.indMemo-year010,.indMemo-tai010,.indMemo-lttc010
	left: 4640px
// .indMemo-tai08
// 	top: 230px

.indMemo-year011,.indMemo-tai011,.indMemo-lttc011
	left: 5120px
// .indMemo-tai08
// 	top: 230px

.indMemo-year012,.indMemo-tai012,.indMemo-lttc012
	left: 5600px
// .indMemo-tai08
// 	top: 230px

.indMemo-year013,.indMemo-tai013,.indMemo-lttc013
	left: 6080px
.indMemo-tai013
	top: 230px

.indMemo-year014,.indMemo-tai014,.indMemo-lttc014
	left: 6560px
// .indMemo-tai013
	// top: 230px

.indMemo-year015,.indMemo-tai015,.indMemo-lttc015
	left: 7040px
.indMemo-tai015
	top: 157px

.indMemo-year016,.indMemo-tai016,.indMemo-lttc016
	left: 7520px
.indMemo-tai016
	top: 206px

.indMemo-year017,.indMemo-tai017,.indMemo-lttc017
	left: 8000px
// .indMemo-tai016
// 	top: 206px

.indMemo-year018,.indMemo-tai018,.indMemo-lttc018
	left: 8480px
.indMemo-tai018
	top: 108px

.indMemo-year019,.indMemo-tai019,.indMemo-lttc019
	left: 8960px
.indMemo-tai019
	top: 16px

.indMemo-year020,.indMemo-tai020,.indMemo-lttc020
	left: 9440px
// .indMemo-tai019
	// top: 16px

.indMemo-year021,.indMemo-tai021,.indMemo-lttc021
	left: 9920px
// .indMemo-tai019
	// top: 16px

.indMemo-year022,.indMemo-tai022,.indMemo-lttc022
	left: 10400px
.indMemo-tai022
	top: 59px

.indMemo-year023,.indMemo-tai023,.indMemo-lttc023
	left: 10880px
// .indMemo-tai022
	// top: 16px

.indMemo-year024,.indMemo-tai024,.indMemo-lttc024
	left: 11360px
// .indMemo-tai022
	// top: 16px

.indMemo-year025,.indMemo-tai025,.indMemo-lttc025
	left: 11840px
.indMemo-tai025
	top: 84px

.indMemo-year026,.indMemo-tai026,.indMemo-lttc026
	left: 12320px
.indMemo-tai026
	top: 206px

.indMemo-year027,.indMemo-tai027,.indMemo-lttc027
	left: 12800px
.indMemo-tai027
	top: 206px

.indMemo-year028,.indMemo-tai028,.indMemo-lttc028
	left: 13280px
// .indMemo-tai027
	// top: 206px

.indMemo-year029,.indMemo-tai029,.indMemo-lttc029
	left: 13760px
// .indMemo-tai029
	// top: 206px

.indMemo-year030,.indMemo-tai030,.indMemo-lttc030
	left: 14240px
// .indMemo-tai029
	// top: 206px

.indMemo-year031,.indMemo-tai031,.indMemo-lttc031
	left: 14720px
.indMemo-tai031
	top: 230px

.indMemo-year032,.indMemo-tai032,.indMemo-lttc032
	left: 15200px
.indMemo-tai032
	top: 182px

.indMemo-year033,.indMemo-tai033,.indMemo-lttc033
	left: 15680px
// .indMemo-tai032
	// top: 11px

.indMemo-year034,.indMemo-tai034,.indMemo-lttc034
	left: 16160px
.indMemo-tai034
	top: 187px

.indMemo-year035,.indMemo-tai035,.indMemo-lttc035
	left: 16640px
.indMemo-tai035
	top: 181px

.indMemo-year036,.indMemo-tai036,.indMemo-lttc036
	left: 17120px
.indMemo-tai036
	top: 255px

.indMemo-year037,.indMemo-tai037,.indMemo-lttc037
	left: 17600px
.indMemo-tai037
	top: 157px

.indMemo-year038,.indMemo-tai038,.indMemo-lttc038
	left: 18080px
.indMemo-tai038
	top: 181px

//重點活動
.indAct
	width: 100%
	padding: 60px 20px 0 20px
	@include maxcom
		width: 1260px
		margin: 0 auto

.indAct-tit
	width: 270px
	height: 85px
	background: url("../images/indtitBg.svg") no-repeat
	background-cover: center 
	background-size: 270px auto 
	text-align: center
	padding: 7px 0 0 0
	margin: 0 auto 60px auto
	h5
		line-height: 1.5
	@include maxcom
		margin: 40px auto 120px auto


.indAct-actLinkBk
	display: flex
	flex-wrap: wrap
	align-items: center
	justify-content: space-around
	@include ipad
		flex-wrap: no-wrap

.indAct-link
	// width: 200px
	width: 100%
	display: block
	color: $black
	text-align: center
	opacity: 0
	@include ipad
		width: auto
	@include maxcom
		margin: 0 40px
	&:hover
		// opacity: 0.6
		.indAct-link--img
			transform: scale(1.05)
			transition: all 0.5s linear
.indAct-link--img
	width: 200px
	height: 200px
	border-radius: 50%
	overflow: hidden
	border: 8px solid $black
	@include ipad
		width: 180px
		height: 180px
	@include maxcom
		width: 280px
		height: 280px
.indAct-link--img-big
	width: 255px
	height: 255px
	@include ipad
		width: 230px
		height: 230px
	@include maxcom
		width: 400px
		height: 400px
.indAct-link--titBk
	padding: 10px 0 35px 0


//底圖
.indBottomEleBk
	width: 100%
	min-height: 250px
	background: url("../images/indbanner09.png") repeat-x
	background-position-x: center 
	background-position-y: bottom 
	background-size: auto 200px
	position: relative
	overflow: hidden
	@include ipad
		width: 100%
		min-height: 350px
		background-position-x: left 
		background-size: 100% auto
	@include maxcom
		min-height: 400px
		background-size: auto 420px
		background-position-y: 150px
		background-position-x: left 
		margin-top: -100px
	@include maxcom-1920
		min-height: 500px
		background-size: auto 500px
		background-position-y: 240px
		background-position-x: center 

.indBottomEle01
	position: absolute
	width: 330px
	height: auto
	bottom: -10px
	left: -45px
	@include maxcom
		width: 580px
		left: -55px


.indBottomEle02
	position: absolute
	width: 120px
	height: auto
	top: 0px
	left: 30px
	@include maxcom
		width: 180px
		top: 0px
		left: 50px
	@include maxcom-1920
		top: 120px
.indBottomEle03
	position: absolute
	width: 30px
	height: auto
	top: 85px
	right: 70px
	@include maxcom
		width: 55px
		top: 35px
		right: 100px
	@include maxcom-1920
		top: 100px

.indBottomEle04
	display: none
	position: absolute
	width: 160px
	height: auto
	bottom: 40px
	right: 35%
	@include maxcom
		display: block
	

